.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .alignLeft {
    width: 15%;
    font-family: 'Creepster', cursive;
    color: black;
  }
  
  .alignCenter {
      width: 70%;
  }
  
  .alignRight {
    width: 15%;
    font-family: 'Creepster', cursive;
    color: black;
  }
  
  .navbar {
    background: #97ce4c;
    box-shadow: 0 3px 6px #e89ac7, 0 3px 6px;
  }
  
  li {
    color: white;
    padding: 15px 0;
  }
  
  body {
    font-size: 24px;
  }